/* .nav {
  display: flex;

  align-items: center;
} */

.ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav {
  background-color: orangered;
}

.nav :global(.active) {
  background-color: green;
}

.active {
  background-color: aqua;
}
